/* Posible color para texto entre comillas simples #607845*/


/* Texto en general  */
.text {
    -fx-font-family: 'Helvetica', Arial, sans-serif;
    -fx-font-size: 17px;
    -fx-text-fill: #afb1b3;
    -fx-fill: #afb1b3;
}
/*palabra clave*/
.keyword {
    -fx-font-weight: bold;
    -fx-fill: #cc7832;
}
/* punto y coma*/
.punto_coma {
   -fx-font-weight: bold;
   -fx-fill: #cc7832;
}
/* comentarios */
.comentarios {
    -fx-font-weight: bold;
	-fx-fill: #688554;
}
/* area del editor */
#codeArea{
    -fx-background-color: #2b2b2b;
    -fx-display-caret: red;
}

/* numero de linea*/
.lineno{
    -fx-font-family: "Arial Narrow";
    -fx-background-color: #313335;
    -fx-text-fill: #48595c;
    -fx-pref-width: 70px;
    /*-fx-text-alignment: CENTER;*/
    -fx-alignment: CENTER;
 }

.lineno .text{
    -fx-font-family: "Arial Narrow";
    -fx-font-size: 12px;
    -fx-background-color: #313335;
    -fx-text-fill: #48595c;
    -fx-pref-width: 70px;
}
.comillas{
    -fx-fill: #92c157;
}

.virtualized-scroll-pane{
    -fx-background-color: #2b2b2b;
}

.numeros{
    -fx-fill: red;
}
.error{
    -rtfx-underline-color: red;
    -rtfx-underline-dash-array: 4 4;
    -rtfx-underline-width: 2;
    -rtfx-underline-cap: butt;
}
.caret{
    -fx-stroke: red;
}
#codeArea .selection{
    -fx-fill: red;
}
