/* Posible color para texto entre comillas simples #607845*/


/* Texto en general  */
.text {
    -fx-font-family: 'Helvetica', Arial, sans-serif;
    -fx-font-size: 17px;
    -fx-text-fill: #afb1b3;
    -fx-fill: #afb1b3;
}
/*palabra clave*/
.keyword {
    -fx-font-weight: bold;
    -fx-fill: #cc7832;
}
/* punto y coma*/
.punto_coma {
   -fx-font-weight: bold;
   -fx-fill: #cc7832;
}
/* comentarios */
.comentarios {
    -fx-font-weight: bold;
	-fx-fill: #688554;
}
/* area del editor */
#codeArea{
    -fx-background-color: #2b2b2b;
}
/*sombreado de linea actual*/
/*.paragraph-box:has-caret {
    -fx-background-color: lightblue;
}*/
/* numero de linea*/
.lineno{
   -fx-font-size: 12px;
   -fx-background-color: #313335;
   -fx-text-fill: #afb1b3;
 }


